<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Marry</title>
    <%= render "layouts/html_default" %>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
